<!DOCTYPE html>
<html>
<head>
<title>Change password page</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <style>
        input[type='submit']{
            cursor:pointer;
        }
        button{
            cursor:pointer;
        }
        .changepassword
        {
            width: 340px;
            height: 450px;
        }
    </style>
</head>
<body>

	<div class="changepassword">
		
		<h2>Change Password</h2>
		<form method="POST" action="/forgot-password" name="forgotpass">
			<input type="text" autocomplete="off" placeholder="Enter User ID" name="id" required>
			<input type="password" placeholder="Enter new password" name="password1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$" required>
            <p style="color:red;font-size:10px;">Your password must be at least 8 characters and should include the combination of numbers, uppercase letters, lower case letters and special characters(@$!%*?)</p>
			<input type="password" placeholder="Re-Enter new password" name="password2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?]{8,20}$" required>
			<input type="submit"   value="Submit">
			

		</form>
		<a href="{{url_for('form_loginback')}}"><strong>Go To Login..</strong></a>

	</div>
<h1 id="msg" style="color:red;">{{info}}</h1>
	
</body>
</html>